.App {
  text-align: center;
  background-color: rgb(244, 50, 50);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
}


/* App.css */

.section {
  padding: 10% 2%;
  /* margin-top: 60px; Adjust this value to prevent overlap with fixed navbar */
  border-radius: 1%;
  height: fit-content;
}

.section:nth-of-type(odd) { /* Change background color of odd sections */
  background-color: #f4f4f4;
}

.section:nth-of-type(even) {
  background-color: #e2e2e2;
}

.navbar{
  position: fixed;
  background-color: aliceblue;
  top: 0%;
  right: 0%;
  left: 0%;
  /* justify-content: space-evenly; */
  
}

.nav-links{
  display: inline-flex;
  justify-content: space-evenly;
  right: auto;
  width: 50%;
  border: #000 1px solid;
}


.navbar ul {
  list-style-type: none;
  padding: 0;
}

/* html, body {
  height: 100%;
} */

body {
  font-family: 'Raleway';
  text-align: center;
  color: #ffffff;
}

.hero {
  /* background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://static.pexels.com/photos/94425/pexels-photo-94425.jpeg") no-repeat;
  background-size: cover;
  background-position: 30% 20%; */
  height: 100%;
  width: 100%;
}

.hero-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3em;
  color: rgb(19, 90, 3);
}

.text {
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  marign: 0;
  line-height: 1;
  color: #ffffff;
}