.App {
  text-align: center;
}

li{
  cursor: pointer;
}

a:visited{
  color: #525f51;
}

a:link{
  color: #525f51;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}
.me{
  padding-right: 15em;
  
}

nav a {
  text-decoration: none;
  color: #525f51;
}

nav a:hover {
  text-decoration: underline;
}


/* App.css */

.section {
  padding: 10% 2%;
  /* margin-top: 60px; Adjust this value to prevent overlap with fixed navbar */
  height: fit-content;
}

.section:nth-of-type(odd) { /* Change background color of odd sections */
  background-color: #f6f4f4;
}

.section:nth-of-type(even) {
  background-color: #525f51;
}

.navbar{
  position: fixed;
  background-color: #f6f4f4;
  top: 0%;
  right: 0%;
  left: 0%;
  z-index: 1;
  /* justify-content: space-evenly; */
  
}

.nav-links{
  display: inline-flex;
  justify-content: space-evenly;
  right: auto;
  left: 0;
  width: 90%;
  /* border: #000 1px solid; */
}


.navbar ul {
  list-style-type: none;
  padding: 0;
}

/* html, body {
  height: 100%;
} */

body {
  font-family: 'Raleway';
  text-align: center;
  /* color: #ffffff; */
}

.profile-pic {
  border-width: 1px;
  border-color: #525f51;
  left:0;
}

.hero-sentence{
  position: relative;
  text-align: left;
  margin-left: 40%;
  padding: 10%;
}

.hero {
  /* background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://static.pexels.com/photos/94425/pexels-photo-94425.jpeg") no-repeat;
  background-size: cover;
  background-position: 30% 20%; */
  height: 100%;
  width: 100%;
}

.hero-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3em;
  color: #525f51;
}

.text {
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  marign: 0;
  line-height: 1;
  color: #ffffff;
}

.socials{
  /* background-color: #164cb8; */
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

footer{
  /* background-color: #282c34; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}

.footer-section{
  right: 0;

}



/* EXPERIENCE */

.section {
  margin-bottom: 50px;
}

.container {
  position: relative;
  margin: 50px auto;
  width: 80%;
}

.top-section {
  text-align: center;
}

.timeline {
  position: relative;
  margin-top: 50px;
  padding-left: 30px;
}

.line {
  position: absolute;
  left: 20px;
  width: 4px;
  height: 100%;
  background: #000;
}

.section .bead {
  position: absolute;
  left: -28px;
  margin-right: 40px;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
}

.section .content {
  margin-left: 40px;
}

.section.show-me {
  opacity: 1;
  transform: translateY(0);
}

.section {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease-out;
  margin-left: 10px;
  /* border: 1px solid #000; */
}
